<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="css/styles.css")
    title Usando pug con GULP
  body
    h1.titulo Soy un titulo
    p#description Soy un parrafo
    ul.list
      -n=0
      while n++ < 10
        li.list__item #{n}
    div.my-style Hello World